In [1]:
import torch
import torch.nn as nn
import pandas as pd

In [2]:
_test = pd.read_csv('data/test.csv')

In [10]:
_test_1 = pd.read_parquet('data/test_image_data_1.parquet')

In [11]:
_test_1.shape

(3, 32333)

In [6]:
_test_1.columns

Index(['image_id', '0', '1', '2', '3', '4', '5', '6', '7', '8',
       ...
       '32322', '32323', '32324', '32325', '32326', '32327', '32328', '32329',
       '32330', '32331'],
      dtype='object', length=32333)

In [ ]:
_test_1.columns

In [12]:
_test_1

,image_id,0,1,2,3,4,5,6,7,8,...,32322,32323,32324,32325,32326,32327,32328,32329,32330,32331
0,Test_3,199,227,236,241,238,242,245,243,243,...,222,222,226,224,222,227,220,208,194,136
1,Test_4,243,246,251,252,251,249,250,250,251,...,251,252,252,252,252,253,253,253,253,253
2,Test_5,251,250,250,251,252,254,252,251,251,...,253,253,252,252,252,253,252,249,248,249